<div class="body ">

  <app-menu-superior></app-menu-superior>

  <div class="container-fluid ">
    <div class="row align-items-center vh-100">
      <div class="col-md-4 ">
        <div class="card-body">

          <p>
            Aqui vai rolar um texto diferenciado, com cores e fonte em destaque.
            Vou pensar em interações com texto, mas a ideia inicial é ele ir mudando
            de x em x segundos.
            Acredito que ao clicar, irá para uma parte do site relacionada ao que o usuário clicou.
          </p>

        </div>
      </div>
    </div>
  </div>


</div>
